@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*BACKGROUND*/
body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	font-weight: 400;
	font-style: normal;
}

.main-container {
	flex-basis: 85%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color-primary);
}

/* HEADER */
.navigation-header {
	flex-basis: 15%;
	width: 100%;
}

.headline-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-heading);
	color: var(--color-primary);
	height: 50%;
}

.navigation-button-container {
	display: flex;
	font-weight: bold;
	height: 50%;
}

.navigation-button {
	background-color: var(--color-primary);
	border-left: var(--border-grey);
}

.navigation-button:hover {
	background-color: var(--nav-button-hover);
}

.navigate-to-form-button {
	flex-basis: 50%;
}
 
.navigate-to-form-button--active,
.navigate-to-form-button--active:hover {
	background-color: var(--background-color-primary);
}

.navigate-to-display-button {
	flex-basis: 50%;
}

.navigate-to-display-button--active,
.navigate-to-display-button--active:hover {
	background-color: var(--background-color-secondary);
}

/* REGISTRATION FORM */
.pharmacy-form {
	width: 50%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-small-plus);	
	border-radius: var(--border-radius-normal);
	background-color: var(--color-primary);
}

.pharmacy-form input {
	height: var(--spacing-medium-large);
	width: 90%;
	padding: 0 var(--spacing-tiny);
	border-radius: var(--border-radius-normal);
	border: var(--border-grey);
}

.name-error-message,
.manufacturer-error-message,
.date-error-message,
.quantity-error-message {
	font-size: var(--font-size-small);
	color: var(--color-accent);
	visibility: hidden;
}

sup {
	color: var(--color-accent);
}

.medicine-type {
	height: var(--spacing-medium-large);
	width: 90%;
	border-radius: var(--border-radius-normal);
	padding: 0 var(--spacing-small);
}

.submit-button {
	margin-top: var(--spacing-normal);
	width: var(--spacing-xlarge);
	height: var(--spacing-medium-large);
	color: var(--background-heading);
	border: var(--submit-button-border);
	border-radius: var(--border-radius-normal);
}

.submit-button:hover {
	transition: all .2s ease;
	color: var(--color-primary);
	background-color: var(--background-heading);
}

.submit-button--success {
	background-color: var(--color-accent-2);
	border: none;
	color: var(--color-primary);
}

.submit-button--success:hover {
	background-color: var(--color-accent-2);
}


/* ------------------------------------------------------------------------------------- */
/* DISPLAY PAGE */
.pharmacy-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100%;
	display: none;
}

.select-list-button-container {
	flex-basis: 14%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-medium-large);
}

.display-medicine-container {
	flex-basis: 86%;
	width: 100%;
	padding: 0 var(--spacing-normal);
	display: flex;
	justify-content: center;	
}

.display-medicine {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-normal);
}

.display-info {
	width: 90%;
	height: var(--spacing-xlarge);
	margin-bottom: var(--spacing-normal);
	display: flex;
	background: var(--color-info-box);
	border-radius: var(--border-radius-normal);
}

.medicine-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	flex-basis: 80%;
	margin-bottom: var(--spacing-small);
	padding: 0 var(--spacing-small);
	font-size: var(--font-size-plus);
}

.render-liquids-button, 
.render-tablets-button, 
.render-capsules-button, 
.render-topicals-button {
	width: var(--spacing-xxlarge);
	height: var(--spacing-medium-large);
	border-radius: var(--border-radius-normal);
	font-size: var(--font-size-plus);
	font-weight: bold;
	background-color: var(--background-heading);
	color: var(--color-primary);
	margin: 0 var(--spacing-small);
}

.render-liquids-button:hover, 
.render-tablets-button:hover, 
.render-capsules-button:hover, 
.render-topicals-button:hover {
	background-color: var(--filter-button-hover);
}

.render-liquids-button--active, 
.render-tablets-button--active, 
.render-capsules-button--active, 
.render-topicals-button--active {
	width: var(--spacing-xxlarge);
	height: var(--spacing-medium-large);
	border-radius: var(--border-radius-normal);
	background-color: var(--color-primary);
	color: var(--background-heading);
	border: var(--submit-button-border);
	font-size: var(--font-size-plus);
	font-weight: bold;
	margin: 0 var(--spacing-small);
}

.render-liquids-button--active:hover, 
.render-tablets-button--active:hover, 
.render-capsules-button--active:hover, 
.render-topicals-button--active:hover {
	background-color: var(--color-primary);
}

/* STYLING FOR THE DELETE BUTTON */
.button-container {
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delete-button {
	position: relative;
	width: var(--spacing-large);
	height: var(--spacing-medium-large);
	margin: var(--spacing-small);
	border-radius: var(--border-radius-normal);
	border: var(--delete-button-border);
	background-color: var(--color-primary);
	color: var(--delete-button-color);
	padding-right: 0.8rem;
	overflow: hidden;
	transition: .3s;
}

.delete-button:hover {
	background-color: var(--delete-button-hover);
    transform: scale(1.1);
    transition: .2s;
}

.trash-can-image {
	max-width: var(--spacing-normal);
	color: var(--delete-button-color);
    position: absolute;
    top: 50%;
	right: 0;
    transform: translate(-50%, -50%);
    transition: .2s;
}

