@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*BACKGROUND*/
body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.main-container {
	flex-basis: 85%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d0f4de;
}

/* HEADER */
.navigation-header {
	flex-basis: 15%;
	width: 100%;
}

.headline-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1d3557;
	color: white;
	height: 50%;
}

.navigation-button-container {
	display: flex;
	font-weight: bold;
	height: 50%;
}

.navigation-button {
	background-color: #fff;
	border-left: 0.5px solid grey;
}

.navigation-button:hover {
	background-color: rgb(224, 224, 224);
}

.navigate-to-form-button {
	flex-basis: 50%;
}
 
.navigate-to-form-button--active,
.navigate-to-form-button--active:hover {
	background-color: #d0f4de;
}

.navigate-to-display-button {
	flex-basis: 50%;
}

.navigate-to-display-button--active,
.navigate-to-display-button--active:hover {
	background-color: #a9def9;
}

/* REGISTRATION FORM */
.pharmacy-form {
	flex-basis: 45%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;	
	border-radius: 0.25rem;
	background-color: white;
}

.pharmacy-form input {
	height: 2rem;
	width: 90%;
	padding: 0 0.3rem;
	border-radius: 0.25rem;
	border: 0.5px solid grey;
}

.name-error-message,
.manufacturer-error-message,
.date-error-message,
.quantity-error-message {
	font-size: 0.8rem;
	color: red;
	opacity: 0;
}

sup {
	color: red;
}

.medicine-type {
	height: 2rem;
	width: 90%;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
}

.submit-button {
	margin-top: 1.5rem;
	width: 10rem;
	height: 2rem;
	color: #1d3557;
	border: 2px solid #1d3557;
	border-radius: 0.25rem;
}

.submit-button:hover {
	transition: all .2s ease;
	color: white;
	background-color: #1d3557;
}

.submit-button--success {
	background-color: green;
	border: none;
	color: white;
}

.submit-button--success:hover {
	background-color: green;
}


/* ------------------------------------------------------------------------------------- */
/* DISPLAY PAGE */
.pharmacy-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 65%;
	height: 100%;
	display: none;
}

.select-list-button-container {
	flex-basis: 14%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.display-medicine-container {
	flex-basis: 86%;
	width: 100%;
	padding: 0 1rem;
	display: flex;
	justify-content: center;	
}

.display-medicine {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.display-info {
	width: 90%;
	height: 10rem;
	margin-bottom: 1rem;
	display: flex;
	background: rgba(255, 255, 255, 0.798);
	border-radius: 0.25rem;
}

.medicine-div {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-basis: 80%;
	margin-bottom: 0.5rem;
	padding: 0 0.5rem;
	font-size: 1.1rem;
}

.render-liquids-button, 
.render-tablets-button, 
.render-capsules-button, 
.render-topicals-button {
	width: 12rem;
	height: 2rem;
	border-radius: 0.25rem;
	font-size: small;
	font-weight: bold;
	background-color: #1d3557;
	color: white;
	margin: 0 0.5rem;
}

.render-liquids-button:hover, 
.render-tablets-button:hover, 
.render-capsules-button:hover, 
.render-topicals-button:hover {
	background-color: #439CD4;
}

.render-liquids-button--active, 
.render-tablets-button--active, 
.render-capsules-button--active, 
.render-topicals-button--active {
	width: 12rem;
	height: 2rem;
	border-radius: 0.25rem;
	background-color: white;
	color: #1d3557;
	border: 2px solid #1d3557;
	font-size: small;
	font-weight: bold;
	margin: 0 0.5rem;
}

.render-liquids-button--active:hover, 
.render-tablets-button--active:hover, 
.render-capsules-button--active:hover, 
.render-topicals-button--active:hover {
	background-color: white;
}

/* STYLING FOR THE UPDATE AND DELETE BUTTON */
.button-container {
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.delete-button {
	position: relative;
	width: 6rem;
	height: 2rem;
	border-radius: 0.25rem;
	border: 2px solid rgb(231, 50, 50);
	background-color: #fff;
	color: rgb(231, 50, 50);
	padding-right: 0.8rem;
	overflow: hidden;
	transition: .3s;
}

.delete-button:hover {
	background-color: rgb(245, 207, 207);
    transform: scale(1.1);
    transition: .2s;
}

.trash-can-image {
	max-width: 1rem;
	color: rgb(231, 50, 50);
    position: absolute;
    top: 50%;
	right: 0;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.update-button {
	position: relative;
	width: 6rem;
	height: 2rem;
	border-radius: 0.25rem;
	border: 2px solid rgb(56, 138, 38);
	background-color: #fff;
	color: rgb(56, 138, 38);
	padding-right: 0.8rem;
	overflow: hidden;
	transition: .3s;
}

.update-button:hover {
	background-color: rgb(216, 255, 207);
    transform: scale(1.1);
    transition: .2s;
}

.pen-image {
	max-width: 1rem;
	color: rgb(56, 138, 38);
    position: absolute;
    top: 50%;
	right: 0;
    transform: translate(-50%, -50%);
    transition: .2s;
}

