.main-container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../assets/wengang-zhai-BFB7ydn1-DI-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
 	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.pharmacy-form {
	flex-basis: 25%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.6rem;
	margin-left: 1rem;
	border-radius: 1rem;
	background-color: white;
}

.pharmacy-form input {
	height: 2rem;
	width: 90%;
	padding: 0 0.3rem;
	border-radius: 0.25rem;
	border: 0.5px solid grey;
}

.medicine-type {
	height: 2rem;
	width: 90%;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
}

.submit-button {
	margin-top: 1rem;
	width: 10rem;
	height: 2rem;
	color: #1B5679;
	border: 2px solid #1B5679;
	border-radius: 0.25rem;
}

.submit-button:hover {
	transition: all .2s ease;
	color: white;
	background-color: #1B5679;
}

.submit-button:active {
	transition: none;
	background-color: #439CD4;
	border: none;
}


/* ------------------------------------------------------------------------------------- */

.pharmacy-list {
	display: flex;
	flex-direction: column;
	flex-basis: 75%;
	height: 100%;
	background-color: none;
}

.select-list-button-container {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.display-medicine-container {
	flex-basis: 86%;
	padding: 0 1rem;
}

.display-tablet-medicine {
	display: none;
}

.display-capsule-medicine {
	display: none;
}

.display-topical-medicine {
	display: none;
}

.render-liquids-button, .render-tablets-button, .render-capsules-button, .render-topicals-button {
	width: 12rem;
	height: 2rem;
	border-radius: 0.25rem;
	font-size: small;
	font-weight: bold;
	background-color: #1B5679;
	color: white;
	margin: 0 0.5rem;
}

.render-liquids-button:hover, .render-tablets-button:hover, .render-capsules-button:hover, .render-topicals-button:hover {
	background-color: #439CD4;

}

.render-liquids-button--active, .render-tablets-button--active, .render-capsules-button--active, .render-topicals-button--active {
	width: 12rem;
	height: 2rem;
	border-radius: 0.25rem;
	background-color: white;
	color: #1B5679;
	border: 2px solid #1B5679;
	font-size: small;
	font-weight: bold;
	margin: 0 0.5rem;
}

.render-liquids-button--active:hover, .render-tablets-button--active:hover, .render-capsules-button--active:hover, .render-topicals-button--active:hover {
	background-color: white;
}

.liquid-medicine-header, .tablet-medicine-header, .capsule-medicine-header, .topical-medicine-header {
	display: flex;
	font-weight: bold;
	height: 2.5rem;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}

.liquid-medicine-header span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tablet-medicine-header span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.capsule-medicine-header span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topical-medicine-header span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.liquid-medicine-row {
	display: flex;
	height: 2.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	background-color: #ffffffde;
}

.liquid-medicine-row span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tablet-medicine-row {
	display: flex;
	height: 2.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	background-color: #ffffffde;
}

.tablet-medicine-row span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.capsule-medicine-row {
	display: flex;
	height: 2.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	background-color: #ffffffde;
}

.capsule-medicine-row span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topical-medicine-row {
	display: flex;
	height: 2.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	background-color: #ffffffde;
}

.topical-medicine-row span {
	flex-basis: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-button {
	position: relative;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 2px solid rgb(231, 50, 50);
	background-color: #fff;
	overflow: hidden;
	transition: .3s;
}

.delete-button:hover {
	background-color: rgb(245, 207, 207);
    transform: scale(1.1);
    transition: .2s;
}

.trash-can-image {
	color: rgb(231, 50, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}







